@font-face {
  font-family: 'powerline';
  unicode-range: U+FF-FFFF;
  src: url('img/DejaVu\ Sans\ Mono\ for\ Powerline.ttf');}

body {
  background: rgb(70, 142, 195);
  font-family: 'Roboto';
  color: #fff;
}

h1 {
  font-size: 90px;
  font-family: 'Oswald';
}

h2 {
  color: #fff;
  font-size: 30px;
}

.slide {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  text-align: center;
}

#slide {
  display: block;
}

iframe {
  width: 600px;
  height: 600px;
}

img {
  max-width: 90%;
}

img.white {
  background: #fff;
}

.terminal-container {
  margin: 0px;
  margin-left: -460px;
  position: absolute;
  left: 50%;
  background: #000;
  width: 1000px;
  overflow: hidden;
  text-align: left;
}

.terminal {
  font-size: 18px;
  font-family: 'powerline', monospace !important;
}

.keyboard {
  position: absolute;
  top: 260px;
  height: 360px;
  width: 920px;
  margin-left: calc(50% - 460px);
  background: url("img/keyboard.jpg");
  opacity: 0.8;
}

.keyboard #highlight {
  position: absolute;
  background: #f00;
  width: 50px;
  height: 50px;
  border-radius: 2px;
  opacity: 0.3;
}

img.full-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

ul {
  font-size: 40px;
  line-height: 50px;
  list-style: none;
}

.vertical-center {
  position: relative;
  padding-top: 50%;
  transform: translateY(-50%);
}

