@font-face {
  font-family: 'powerline';
  src: url('img/Meslo LG S DZ Regular for Powerline.otf');}
body {
  background: #FF9800;
  font-family: 'Oswald';
  /* font-size: 50px; */
}

h1 {
  color: #fff;
  font-size: 90px;
}

h2 {
  color: #fff;
  font-size: 30px;
}

.slide {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  text-align: center;
}

#slide {
  display: block;
}

iframe {
  width: 600px;
  height: 600px;
}

img {
  max-width: 90%;
}

img.white {
  background: #fff;
}

.terminal-container {
  margin: 0px;
  margin-left: -460px;
  position: relative;
  left: 50%;
  background: #000;
  width: 920px;
}

.terminal {
  font-family: 'powerline' !important;
  font-size: 18px;
}

